


<html>  
    <form method="post">
    <label for="addnewbook">Enter asinID: </label>
     <textarea class="text" cols="80" rows ="20" name="new_asin_id"></textarea>
     <br/>

     <label for="addnewbook">Enter Book Name: </label>
     <textarea class="text" cols="80" rows ="20" name="new_title"></textarea>
     <br/>

     <label for="addnewbook">Enter Price of Book: </label>
     <textarea class="text" cols="80" rows ="20" name="new_price"></textarea>
     <br/>
   
     <!-- <label for="addnewbook">Upload Image of new book </label>
     <input type="file" accept="image/*" name="photo" >
     <br/> -->
     
     <label for="addnewbook">Upload Image of new book </label>
     <textarea class="text" cols="80" rows ="20" name="photo"></textarea>
     <br/>

    
     <label for="addnewbook">Enter Book Summary: </label>
     <textarea class="text" cols="80" rows ="20" name="new_description"></textarea>
     <br/>

     <label for="addnewbook">Enter Book Category: </label>
     <textarea class="text" cols="80" rows ="20" name="new_categories"></textarea>
     <br/>
     
     <label for="addnewbook">Enter Book Brand: </label>
     <textarea class="text" cols="80" rows ="20" name="new_brand"></textarea>
     <br/>
     



     <input type="submit" value="Search This" class="submitButton" name="submit_name">
  </form>  
  
  </body>  
  </html>