<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Add book</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
        <!-- Place favicon.ico in the root directory -->
        <!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Poppins:400,700,600,500,300' rel='stylesheet' type='text/css'>

		<!-- all css here -->
		<!-- bootstrap v3.3.6 css -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
		<!-- animate css -->
        <link rel="stylesheet" href="/css/animate.css">
		<!-- jquery-ui.min css -->
        <link rel="stylesheet" href="/css/jquery-ui.min.css">
		<!-- meanmenu css -->
        <link rel="stylesheet" href="/css/meanmenu.min.css">
		<!-- Font-Awesome css -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">
		<!-- pe-icon-7-stroke css -->
        <link rel="stylesheet" href="/css/pe-icon-7-stroke.css">
		<!-- Flaticon css -->
        <link rel="stylesheet" href="/css/flaticon.css">
		<!-- venobox css -->
        <link rel="stylesheet" href="/venobox/venobox.css" type="text/css" media="screen" />
		<!-- nivo slider css -->
		<link rel="stylesheet" href="/lib/css/nivo-slider.css" type="text/css" />
		<link rel="stylesheet" href="/lib/css/preview.css" type="text/css" media="screen" />
		<!-- owl.carousel css -->
        <link rel="stylesheet" href="/css/owl.carousel.css">
		<!-- style css -->
		<link rel="stylesheet" href="/style.css">
		<!-- responsive css -->
        <link rel="stylesheet" href="/css/responsive.css">
        <!-- modernizr css -->
        
        <link rel="stylesheet" href="/addbookstyle.css">

        <link rel="stylesheet" href="popupchat.css">
        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
        <link rel="stylesheet" href="popupchat.css">
        <script>
        // When the user clicks on <div>, open the popup
        function popUp() {
        var popup = document.getElementById("chatBot");
        popup.classList.toggle("show");
        }
        </script>
    </head>
<body>
    
    <div class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-6">
                        <div class="header-logo">
                            <a href="/">
                                <img src="/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>                    
                    <div class="col-md-9 col-sm-12 hidden-xs">
                        <div class="mainmenu text-center">
                            <nav>
                                <ul id="nav">
                                    <li><a href="/">HOME</a></li>
                                    <li><a href="/addbook">ADD A BOOK</a></li>
                                    <li><a href="/books">LIST OF BOOKS</a></li>
                                </ul>
                            </nav>
                        </div>                        
                    </div>

                    <div class="col-md-1 hidden-sm">
                        <div class="header-right">
                            <ul>
                                <li class="shoping-cart">
                                    <a href="#">
                                        <i class="flaticon-people"></i>
                                    </a>
                                    <div class="add-to-cart-product">
                                        <div class="cart-product">
                                            

                                            <div class="cart-product-info">
                                                <p>
                                                    <span>Log saved</span>
                                                    
                                                    
                                                </p>
                                                    <p><%= log_req %></p>
                                                    <p><%= log_date %></p>
                                                    <p>Status: <%= log_status %></p>
                                                    <p><a href="/logs">View logs</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
  <div class = "container">
    <form method="post">
    <label for="addnewbook" class="questions">Enter asinID: </label>
     <textarea class="text" cols="30" rows ="1" name="new_asin_id"></textarea>
     <br/>

     <label for="addnewbook" class="questions">Enter Book Name: </label>
     <textarea class="text" cols="50" rows ="1" name="new_title"></textarea>
     <br/>

     <label for="addnewbook" class="questions">Enter Price of Book: </label>
     <textarea class="text" cols="10" rows ="1" name="new_price"></textarea>
     <br/>
   
     <!-- 
    There's a problem with image upload; keep it to "textbox" for upload image first.

     <label for="addnewbook">Upload Image of new book </label>
     <input type="file" accept="image/*" name="photo" >
     <br/> -->
     
     <label for="addnewbook" class="questions">URL / Link of the Book Cover: </label>
     <textarea class="text" cols="20" rows ="1" name="photo"></textarea>
     <br/>

    
     <label for="addnewbook" class="questions">Enter Book Summary: </label>
     <textarea class="text" cols="60" rows ="5" name="new_description"></textarea>
     <br/>

     <label for="addnewbook" class="questions">Enter Book Category: </label>
     <textarea class="text" cols="20" rows ="1" name="new_categories"></textarea>
     <br/>
     
     <label for="addnewbook" class="questions">Enter Book Brand: </label>
     <textarea class="text" cols="20" rows ="1" name="new_brand"></textarea>
     <br/>

    <hr></hr>
     <input type="submit" value="Submit" class="submitButton" name="submit_name">
    </form> 
    <hr>
    <hr>
  </div>

    <div class="popup" onclick="popUp()"><button class = "open-button"><img src="https://media.discordapp.net/attachments/543292055728685056/657741396895334400/unknown.png?width=763&height=675" style = "width: 80px; height: 80px;"></img></button>
        <div class="chat-popup show" id="chatBot">
            <iframe
            height="800"
            width="500"
            src="https://bot.dialogflow.com/d08d2782-1de9-4835-9517-24f903a75bf1">
            </iframe>
            <hr>
            <button class = "hide-button">Hide</button>
            <hr>
        </div>
    </div>
    
        <footer>
		    <div class="footer-bottom">
		        <div class="container" style="background-color: #242424;">
		            <div class="row">
		                <div class="col-md-6">
                            <div class="footer-bottom-left pull-left">
                                <p>Copyright &copy; 2016 <span><a href="#">DevItems</a></span>. All Right Reserved.</p>
                            </div>
		                </div>
		            
		            </div>
		        </div>
		    </div>
        </footer>
    </body>
</html>