<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table id="table" >  
        <thead>  
            <tr>  
                <th>Product</th>  
                <th>Price</th>  
            </tr>  
        </thead>  
         <tbody>  
         <% logs.forEach(function (l) { %>
            <tr>  
                <td><%= l.product_name %></td>  
                <td><%= l.price %></td>
            </tr>                                   
         <% }) %>
         </tbody>
    </table>   
  </body>
</html>