<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table id="table" >  
        <thead>  
            <tr>  
                <th>Asin</th>  
                <th>Review</th>  
            </tr>  
        </thead>  
         <tbody>  
         <% reviews.forEach(function (r) { %>
            <tr>  
                <td><%= r.asin %></td>  
                <td><%= r.review_text %></td>
            </tr>                                   
         <% }) %>
         </tbody>
    </table>   
  </body>
</html>
