<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table id="table" >  
        <thead>  
            <tr>  
                <th>Task</th>  
                <th>Status</th>  
            </tr>  
        </thead>  
         <tbody>  
         <% tasks.forEach(function (t) { %>
            <tr>  
                <td><%= t.task %></td>  
                <td><%= t.status %></td>
            </tr>                                   
         <% }) %>
         </tbody>
    </table>   
  </body>
</html>
